@charset "UTF-8";
.feed-item-mod {
  padding: 0;
}
.feed-item-mod .answer-list {
  background: #f6f6f6;
}
.feed-item-mod .answer-list-item {
  padding: 0 15px;
}
.feed-item-mod .answer-head {
  width: 35px;
  height: 35px;
  margin-right: 0;
}
.feed-item-mod .answer-detail {
  margin-left: 45px;
}
.feed-item-mod .answer-detail > p {
  display: inline;
}
.feed-item-mod .answer-detail .answer-brief {
  display: inline;
  line-height: 1.4;
  margin-left: 10px;
  font-size: 12px;
}
.feed-item-mod .reply-write textarea {
  width: 98%;
  resize: none;
  margin-bottom: 10px;
}
.feed-item-mod .editor-box {
  background: #f6f6f6;
  padding: 0 15px 15px 15px;
  border-top: 1px solid #eee;
}
.feed-item-mod .editor-box .reply-write {
  margin-left: 45px;
}
.feed-item-mod .pagination {
  margin: 10px 0;
}
.feed-item-box {
  padding: 15px;
}
.feed-item-box .feed-time {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: #888;
}
.feed-item-box .feed-time a {
  color: #888;
}
.feed-head-pic {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  float: left;
  background: #dadada;
  display: block;
  vertical-align: middle;
  overflow: hidden;
}
.feed-head-pic img {
  width: 100%;
  object-fit: cover;
}
.feed-hd-info {
  font-size: 14px;
  margin-bottom: 5px;
  vertical-align: middle;
}
.feed-hd-info .identity-icon {
  vertical-align: middle;
}
.feed-hd-info .feed-status-tag {
  display: inline-block;
  vertical-align: middle;
  padding: 0 4px;
  font-size: 12px;
  background: #a1a1a1;
  border-radius: 2px;
  color: #fff;
}
.feed-hd-info span {
  display: inline-block;
  vertical-align: middle;
}
.feed-hd-info .name {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #25bb9b;
}
.feed-hd-info .tag-label {
  margin: 0 5px;
}
.feed-item-tips {
  background: #e6f8f4;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #25bb9b;
  padding: 5px 0;
  margin-bottom: 10px;
}
.feed-item-tips i {
  margin-right: 10px;
}
.feed-add-pic {
  margin-left: 15px;
}
.feed-add-pic:first-child {
  margin-left: 0;
}
.feed-add-pic i {
  margin-right: 5px;
}
.feed-action {
  font-size: 14px;
  margin-left: 8px;
  color: #666;
}
.feed-item-bd {
  font-size: 14px;
  margin-left: 45px;
  position: relative;
}
.feed-item-bd .feed-title {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
}
.feed-item-bd .feed-transmit-cont + .feed-tags {
  margin-top: 25px;
}
.feed-item-bd .feed-tags {
  margin-top: 10px;
}
.feed-item-bd .feed-tags .tag-label {
  color: #a6a6a6;
}
.feed-item-bd .feed-tags .tag-label:hover {
  color: #25bb9b;
}
.feed-item-bd .feed-tags .tag-label-new {
  background: #f7f7f7;
  border: none;
  color: #25bb9b;
  line-height: 20px;
  padding: 0 10px;
}
.feed-item-bd .feed-tags .tag-label-new i {
  margin-right: 3px;
}
.feed-item-bd .feed-follow-pic {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.feed-item-bd .head-pic {
  background: #ddd;
  margin-right: 0;
  float: none;
}
.feed-item-bd .other-pic {
  width: 75px;
  height: 50px;
  background: #ddd;
}
.feed-item-bd .other-pic img {
  width: 100%;
}
.feed-item-bd .feed-follow {
  position: relative;
  padding: 20px 10px;
}
.feed-item-bd .feed-follow .btn {
  position: absolute;
  right: 20px;
  top: 27px;
  width: 90px;
  padding: 8px 0;
}
.feed-item-bd .feed-follow .item-box {
  margin-top: 5px;
}
.feed-item-bd .feed-follow .item-box > a,
.feed-item-bd .feed-follow .item-box > span {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 10em;
  vertical-align: top;
  margin-right: 15px;
  font-size: 12px;
}
.feed-item-bd .feed-follow .item-box > a i,
.feed-item-bd .feed-follow .item-box > span i {
  font-size: 18px;
  color: #25bb9b;
  margin-right: 10px;
  vertical-align: -2px;
}
.feed-item-bd .feed-follow .item-box > a .icon-briefcase,
.feed-item-bd .feed-follow .item-box > span .icon-briefcase {
  font-size: 16px;
  vertical-align: middle;
}
.feed-item-bd .feed-follow .item-box > a .icon-nc-hat,
.feed-item-bd .feed-follow .item-box > span .icon-nc-hat {
  font-size: 20px;
  vertical-align: -5px;
}
.feed-item-bd .feed-follow .cont {
  display: inline-block;
  vertical-align: middle;
}
.feed-transmit {
  color: #666;
  margin-bottom: 5px;
}
.feed-transmit .icon-nc-share2 {
  font-size: 20px;
  vertical-align: top;
  color: #a2a2a2;
}
.feed-transmit-cont {
  background: #f6f6f6;
  margin: 0 -15px -15px -60px;
  padding: 10px 15px 10px 60px;
}
.feed-transmit-cont .feed-cont-quote {
  background: #fff;
}
.feed-transmit-cont .feed-tags .tag-label-new {
  background: #fff;
}
.quote-tool-oprt {
  margin-top: 5px;
  font-size: 14px;
}
.quote-tool-oprt > a {
  display: inline-block;
  line-height: 1;
  color: #aeaeae;
}
.quote-tool-oprt > a:hover {
  color: #25bb9b;
  cursor: pointer;
}
.quote-tool-oprt > a + a {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #aaa;
}
.quote-tool-oprt > span {
  display: inline-block;
  line-height: 1;
  color: #aeaeae;
}
.quote-tool-oprt > span + span {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #aaa;
}
.feed-item-ft {
  font-size: 12px;
  padding: 3px 0;
  position: relative;
  border-top: 1px solid #eee;
  font-size: 0;
}
.feed-item-ft.border-bottom {
  border-bottom: 1px solid #eee;
}
.feed-item-ft a {
  color: #a2a2a2;
  text-align: center;
  font-size: 14px;
  padding: 4px 0;
  overflow: hidden;
}
.feed-item-ft a + a {
  border-left: 1px solid #eee;
}
.feed-item-ft a i {
  font-size: 15px;
  margin-right: 3px;
}
.feed-item-ft a.selected,
.feed-item-ft a:hover {
  color: #25bb9b;
}
.open > .feed-topic-list {
  opacity: 1;
  display: block;
  visibility: visible;
}
.feed-topic-list {
  position: absolute;
  display: none;
  z-index: 2;
  left: 0;
  top: 50px;
  width: 450px;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.feed-topic-list li {
  padding: 0 20px;
  line-height: 34px;
  font-size: 14px;
  clear: both;
}
.feed-topic-list li + li {
  margin-top: -5px;
}
.feed-topic-list li.hover,
.feed-topic-list li:hover {
  background: #f5f5f5;
  color: #25bb9b;
  cursor: pointer;
}
.feed-topic-list li .topic-txt {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 20em;
}
.feed-topic-list li .topic-num {
  float: right;
}
.feed-item-oprt {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 32px;
  min-width: 150px;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.feed-item-oprt li {
  padding: 0 20px;
  line-height: 34px;
  font-size: 14px;
}
.feed-item-oprt li + li {
  margin-top: -5px;
}
.feed-item-oprt li:hover {
  background: #f5f5f5;
  color: #25bb9b;
  cursor: pointer;
}
.feed-cont {
  margin-bottom: 5px;
}
.feed-cont .pop-sign-main {
  margin: 10px 0 0;
}
.feed-cont-quote {
  background: #f6f6f6;
  padding: 10px;
  display: block;
  border-radius: 4px;
}
.feed-cont-quote .web-link-share {
  border-top: 1px solid #ddd;
  margin-top: 15px;
  padding: 15px 0 10px;
}
.quote-from {
  margin-bottom: 5px;
}
.fold-article {
  margin-bottom: 0;
}
.col-img-box {
  margin: 0;
  user-select: none;
  font-size: 0;
}
.col-img-loading {
  position: relative;
}
.col-img-loading img {
  width: 16px !important;
  height: 16px !important;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  position: absolute;
}
.col-img {
  background: #efeff4;
  margin: 10px 10px 0 0;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.col-img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.feed-img-tag {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.4);
}
.big-show-img {
  width: 100%;
  margin: 10px 0 0;
  position: relative;
}
.big-show-img .big-show-img-mask {
  position: absolute;
  height: 100%;
  width: 33.33%;
}
.big-show-img .big-show-img-mask.mask-left {
  left: 0;
}
.big-show-img .big-show-img-mask.mask-center {
  left: 33.33%;
  width: 33.34%;
}
.big-show-img .big-show-img-mask.mask-right {
  left: 66.67%;
}
.big-show-img .mask-zoom-out {
  cursor: zoom-out;
}
.big-show-img .mask-e-resize {
  cursor: e-resize;
}
.big-show-img .mask-w-resize {
  cursor: w-resize;
}
.big-show-img img {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}
.two-col-img {
  width: 275px;
  height: 275px;
}
.three-col-img {
  width: 180px;
  height: 180px;
}
.quote-img {
  width: 120px;
  height: 70px;
}
.thumbnail-img-box {
  margin-top: 10px;
  margin-right: -10px;
}
.thumbnail-img-box .thumbnail-img {
  width: 58px;
  height: 58px;
  padding: 1px;
  margin: 0 9px 0 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.thumbnail-img-box .thumbnail-img.selected,
.thumbnail-img-box .thumbnail-img:hover {
  padding: 0;
  border: 1px solid #e0e0e0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.thumbnail-img-box .thumbnail-img:last-child {
  margin-right: 0;
}
.right-cursor {
  cursor: url(//static.nowcoder.com/fe/style/images/common/img/arrow/pic_next.cur),
    auto;
}
.left-cursor {
  cursor: url(//static.nowcoder.com/fe/style/images/common/img/arrow/pic_prev.cur),
    auto;
}
.small-cursor,
.small-cursor img {
  cursor: url(//static.nowcoder.com/fe/style/images/common/img/arrow/small.cur),
    auto;
}
.big-cursor,
.big-cursor img {
  cursor: url(//static.nowcoder.com/fe/style/images/common/img/arrow/big.cur),
    auto;
}
.no-more-feed {
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
  color: #888;
  position: relative;
}
.no-more-feed:after {
  content: "";
  height: 2px;
  top: 50%;
  width: 80%;
  background: #ddd;
  left: 50%;
  position: absolute;
  margin-left: -40%;
}
.no-more-feed > a {
  padding: 0 15px;
  position: relative;
  background: #eee;
  z-index: 2;
  cursor: pointer;
}
.feeds-loading-fail {
  text-align: center;
  padding: 10px;
  color: #666;
  position: relative;
}
.feeds-loading-fail .icon-exclamation-sign {
  color: #d4373e;
}
.feeds-loading-fail .icon-nc-tips-close {
  color: #666;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 9;
}
.mod-loading-wrapper {
  position: relative;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
}
.mod-loading-wrapper .icon-nc-tips-close {
  position: absolute;
  right: -5px;
  top: -5px;
}
.mod-loading-tips {
  text-align: center;
  color: #888;
  font-size: 14px;
}
.mod-loading-tips .icon-refresh {
  display: inline-block;
  animation: spin 2s infinite linear;
  margin-right: 5px;
}
.publish-loading-tips {
  text-align: center;
  color: #888;
  font-size: 14px;
}
.publish-loading-tips .icon-refresh {
  display: inline-block;
  animation: spin 2s infinite linear;
  margin-right: 5px;
}
.web-link-logo {
  width: 50px;
  height: 50px;
  background: #eee;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
.web-link-logo img {
  width: 100%;
}
.web-link-info {
  vertical-align: middle;
  display: inline-block;
  max-width: 520px;
}
.web-link-info .web-name {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
}
.web-link-info p {
  color: #aaa;
  font-size: 12px;
}
.tag-label.is-followed {
  background: #eee;
  border-color: #eee;
}
.feed-person-cont {
  font-size: 14px;
  width: 520px;
  vertical-align: top;
  display: inline-block;
}
.feed-person-cont .name {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 10em;
}
.feed-person-cont .at-school,
.feed-person-cont .at-work {
  background: #dbefca;
  color: #608e39;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 25px;
  position: relative;
  margin-right: 10px;
}
.feed-person-cont .at-school i,
.feed-person-cont .at-work i {
  color: #aacf8a;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.feed-person-cont .at-work {
  background: #e6f0fd;
  color: #2c4566;
}
.feed-person-cont .at-work i {
  color: #86b3f0;
}
.feed-person-cont .sub-info {
  color: #888;
  margin-top: 5px;
  margin-left: 10px;
}
.feed-person-main {
  position: relative;
  margin-top: 10px;
}
.feed-person-main:before {
  content: "";
  position: absolute;
  border: 6px solid #f9f9f9;
  border-color: transparent transparent #f9f9f9;
  top: -11px;
  left: 30px;
}
.feed-person-main section + section {
  margin-top: 10px;
}
.feed-person-main .item {
  padding-right: 10px;
  color: #666;
  font-size: 12px;
}
.feed-person-main .item > span {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 8em;
}
.feed-person-main .item.identity-item {
  font-size: 14px;
}
.feed-person-main .item + .item {
  border-left: 2px solid #ddd;
  padding-left: 10px;
}
.feed-person-main .item .tit {
  margin-right: 10px;
  color: #a3a3a3;
}
.feed-person-main .item a {
  color: #666;
}
.btn .icon-exchange {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
.feed-cont-topic-list {
  margin-top: 10px;
  margin-right: -30px;
}
.feed-cont-topic-list li {
  width: 44%;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  font-size: 14px;
  margin-right: 30px;
}
.feed-cont-topic-list .feed-topic-txt {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 11em;
  margin: 0 5px;
}
.feed-cont-topic-list .feed-topic-hot-num {
  color: #888;
  margin-left: 10px;
  float: right;
}
.feed-recommend-list li {
  display: inline-block;
  vertical-align: top;
  width: 127px;
  padding: 10px 0;
  text-align: center;
}
.feed-recommend-list li:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 3px;
  margin: 0 -3px;
}
.feed-recommend-list li .feed-recommend-head {
  width: 40px;
  height: 40px;
  overflow: hidden;
  float: none;
  display: block;
  margin: 0 auto 10px;
}
.feed-recommend-list li .feed-recommend-head img {
  width: 100%;
}
.feed-recommend-list li .feed-recommend-name {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 9em;
  display: block;
  margin: 0 auto;
}
.feed-recommend-list li .feed-recommend-detail {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
  color: #999;
  margin-bottom: 10px;
}
.feed-recommend-list li .feed-recommend-status {
  font-size: 14px;
  line-height: 26px;
}
.feed-recommend-list li .niu-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 36px;
}
.subject-anwser-tip {
  background: #ffeab1 url(//static.nowcoder.com/images/img/icons/ico-tip.png)
    10px 5px no-repeat;
  padding: 5px 10px 5px 35px;
  color: #c18d00;
  font-size: 14px;
  margin-bottom: 10px;
}
.subject-explain {
  padding: 0;
  margin-bottom: 20px;
}
.tag-test {
  font-size: 14px;
  margin-right: 10px;
}
.test-title {
  background: #fff;
  padding-left: 20px;
}
.question-intr {
  background: #ebf5ff;
  border: 1px solid #baddff;
  border-radius: 4px;
  margin: 20px 20px 0;
  padding: 10px;
  line-height: 1.8;
  font-size: 14px;
}
.subject-action .subject-next.fn-center {
  width: 150px;
  margin: 0 auto;
  float: none;
}
.subject-pk-mod {
  background: url(//static.nowcoder.com/images-nk/img/pk/bg.png) center bottom
    no-repeat;
  height: 60px;
  border-radius: 8px;
  padding: 20px 180px 0;
  width: 558px;
  margin: 20px auto 0;
  font-size: 16px;
  color: #fff;
}
.subject-pker {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
.subject-pker .pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  vertical-align: middle;
  background: #fff;
  border: 2px solid #77d2ff;
  display: inline-block;
}
.subject-pker .pic img {
  width: 100%;
}
.subject-pker .name {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 8em;
  font-size: 16px;
  color: #fff;
}
.subject-pker.pk-right {
  text-align: right;
}
.pk-score {
  color: #fff601;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  text-align: center;
}
.progress-time .icon-time {
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
}
.subject-title-box {
  padding: 15px;
}
.subject-title-box .answer-progress {
  background: #e5e5e5;
  float: left;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 16px;
}
.subject-title-box .subject-title {
  background-position: 12px 0;
  margin-left: 40px;
  padding: 0 20px 0 45px;
  border-bottom: none;
}
.subject-new-tips {
  clear: both;
  margin-top: 10px;
  color: #888;
  font-size: 14px;
  text-align: right;
}
.answer-sheet-type {
  float: right;
  font-size: 14px;
  color: #666;
  background: #f2f2f2;
  padding: 5px 10px;
}
.answer-sheet-type > span + span {
  border-left: 2px solid #aaa;
  padding-left: 15px;
  margin-left: 15px;
}
.com-subject-wrap {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.com-subject-wrap .com-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.com-subject-wrap .v-tag {
  width: auto;
  background-color: #25bb9b;
  background-position: 5px 2px;
  height: auto;
  color: #fff;
  padding: 2px 15px 2px 20px;
  border-radius: 10px;
}
.com-subject-wrap .com-subject-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 25em;
}
.com-subject-wrap .progress-time {
  background: 0 0;
  color: #333;
  padding-top: 20px;
}
.com-subject-wrap .icon-time {
  color: #ff6547;
}
.topic-quality .nk-toggle-box {
  vertical-align: middle;
  margin-right: 40px;
}
.topic-quality .toggle-button-inner {
  padding: 0 15px;
  line-height: 34px;
  height: 34px;
}
.topic-quality .toggle-button-inner i {
  margin-right: 5px;
  font-size: 16px;
}
.topic-quality .toggle-button-inner .no-zan:before {
  transform: rotateX(180deg);
}
.topic-quality .difficulty {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.topic-quality .tag-label {
  font-size: 14px;
  padding: 4px 6px 4px 10px;
  margin-right: 10px;
  border-color: #e5e5e5;
}
.topic-quality .tag-label .num {
  background: #a0a0a0;
  color: #fff;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 16px;
  font-size: 12px;
  margin-left: 5px;
}
.topic-quality .tag-label:hover {
  background: #ebebeb;
  color: #a0a0a0;
  border-color: #e5e5e5;
}
.topic-quality .tag-label.selected,
.topic-quality .tag-label.selected:hover {
  background: #fff;
  border-color: #25bb9b;
  color: #25bb9b;
}
.topic-quality .tag-label.selected .num,
.topic-quality .tag-label.selected:hover .num {
  background: #25bb9b;
}
.contain-knowledge-box {
  border-top: 1px solid #ededed;
  padding-top: 25px;
  margin-top: 25px;
}
.contain-knowledge-box .hd {
  font-size: 14px;
  margin-bottom: 15px;
}
.contain-knowledge-box .tags-input-wrap input {
  width: 400px;
}
